<!DOCTYPE html>
<html>
  <title>Exchange</title>
  <head>
    <link rel="stylesheet" href="./main.css">
  </head>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/0.6.6/chartjs-plugin-zoom.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
  <script src="http://le-chateaud:8080/main.js"></script>

  <body>

    <div class="mainapp" ng-app="myApp" ng-controller="myCtrl">


    <div class="chart">
      <canvas width=50% height=50% id="orderbook_chart"></canvas>
    </div>

    <div class="set_trader">
      <input ng-hide="ready_to_trade" type="text" name="TraderID" ng-model="input_trader_id">
        <button ng-click="readyToTrade()" ng-hide="ready_to_trade">Set Trader ID</button>
    </div>

    <div class="trader" ng-if="ready_to_trade">
      Trader ID: {{trader_id}}
    </div>

    <div class="container">
      <div class="ob_container">
        <div class="trade_input_flex">
          <div class="trade_input" ng-hide="!ready_to_trade">
            Price: <input type="number" ng-model="price" min=1>
            Volume: <input type="number" ng-model="volume" min=1><br>
            <button ng-click="trade('BUY')" style="background-color:#44ee44">BUY</button>
            <button ng-click="trade('SELL')" style="background-color:#ee4444">SELL</button>
          </div>
        </div>

        <div class="orderbook">
          <p><b>Orderbook<b></p>
          <b>
            <table>
              <td style="background-color:#44ee44">Bid</td>
              <td style="background-color:#ee4444">Ask</td>
              <tr ng-repeat="level in orderbook.ask">
                <td></td>
                <td>{{level.volume + " @ $"  + level.price}}</td>
              </tr>
              <tr ng-repeat="level in orderbook.bid">
                <td>{{level.volume + " @ $"  + level.price}}</td>
                <td></td>
              </tr>
            </table>
          </b>
        </div>
      </div>

      <div class=ob_container>
        <div class="orders_container">
          <div class="orders">
            <p>Active Orders</p>
            <table>
              <b><td>Side</td><td>Volume</td><td>Price</td><td>Cancel</td></b>
              <tr ng-repeat="order in orders">
                <td ng-if="order.side == 'BUY'"  style="background-color:#44ee44">{{order.side}}</td>
                <td ng-if="order.side == 'SELL'" style="background-color:#ee4444">{{order.side}}</td>
                <td>{{order.volume}}</td><td>{{order.price}}</td>
                <td><button ng-click="cancel(order.order_id)">Cancel</button></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="trades">
          <p><b>Trades</b></p>
          <table>
            <b><td>Side</td><td>Volume</td><td>Price</td><td>Counterpart</td></b>
            <tr ng-repeat="trade in trades">
              <td ng-if="trade.side == 'BUY'"  style="background-color:#44ee44">{{trade.side}}</td>
              <td ng-if="trade.side == 'SELL'" style="background-color:#ee4444">{{trade.side}}</td>
              <td>{{trade.volume}}</td><td>{{trade.price}}</td><td>{{trade.counterpart_id}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </body>
</html>
