<!DOCTYPE html>
<html>
  <title>Exchange</title>
  <head>
    <link rel="stylesheet" href="./main.css">
  </head>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/0.6.6/chartjs-plugin-zoom.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
  <script src="http://le-chateaud:8080/main.js"></script>

  <body>
    <div class="mainapp" ng-app="myApp" ng-controller="myCtrl">

      <div class="trader" ng-if="ready_to_trade">
        Trader ID: {{trader_id}}
      </div>

      <div class="chart">
        <canvas height=300px id="orderbook_chart"></canvas>
      </div>

      <div class="set_trader">
        <input ng-hide="ready_to_trade" type="text" name="TraderID" ng-model="input_trader_id">
          <button ng-click="readyToTrade()" ng-hide="ready_to_trade">Set Trader ID</button>
      </div>

      <div class="container">
        <div class="ob_container">
          <div class="trade_input" ng-hide="!ready_to_trade">
            Price: <input type="number" ng-model="price" min=1><br>
            Volume: <input type="number" ng-model="volume" min=1><br>
            <button ng-click="trade('BUY', price, volume)" style="background-color:#44ee44">BUY</button>
            <button ng-click="trade('SELL', price, volume)" style="background-color:#ee4444">SELL</button>
          </div>

          <div class="orderbook">
            <b>
              <table>
                <td>Hit</td>
                <td style="background-color:#44ee44">Bid</td>
                <td style="background-color:#ee4444">Ask</td>
                <td>Hit</td>
                <tr ng-repeat="level in orderbook.ask">
                  <td></td><td></td>
                  <td>{{level.volume + " @ $"  + level.price}}</td>
                  <td>
                    <button ng-if="ready_to_trade" ng-click="trade('BUY', level.price, level.volume)">HIT</button>
                  </td>
                </tr>
                <tr ng-repeat="level in orderbook.bid">
                  <td>
                    <button ng-if="ready_to_trade" ng-click="trade('SELL', level.price, level.volume)">HIT</button>
                  </td>
                  <td>{{level.volume + " @ $"  + level.price}}</td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </b>
          </div>
        </div>

        <div class=orders_trades_container>
          <div class="orders">
            <p><b>Active Orders</b></p>
            <table>
              <td><b>Side</b></td><td><b>Volume</b></td><td><b>Price</b></td><td><b>Cancel</b></td>
              <tr ng-repeat="order in orders">
                <td ng-if="order.side == 'BUY'"  style="background-color:#44ee44">{{order.side}}</td>
                <td ng-if="order.side == 'SELL'" style="background-color:#ee4444">{{order.side}}</td>
                <td>{{order.volume}}</td><td>{{order.price}}</td>
                <td><button ng-click="cancel(order.order_id)">✘</button></td>
              </tr>
            </table>
          </div>

          <div class="trades">
            <p><b>Trades</b></p>
            <table>
              <td><b>Side</b></td><td><b>Volume</b></td><td><b>Price</b></td><td><b>Counterpart</b></td>
              <tr ng-repeat="trade in trades">
                <td ng-if="trade.side == 'BUY'"  style="background-color:#44ee44">{{trade.side}}</td>
                <td ng-if="trade.side == 'SELL'" style="background-color:#ee4444">{{trade.side}}</td>
                <td>{{trade.volume}}</td><td>{{trade.price}}</td><td>{{trade.counterpart_id}}</td>
              </tr>
            </table>
          </div>
          <!--div class="pnl">
            <p><b>PnL</b></p>
            <table>
              <tr>
                <td><b>Net Position</b></td><td><b>PnL</b></td><td><b>PnL Mark to Theo</b></td>
              </tr>
              <tr>
                <td>{{net_position}}</td><td>{{profit_and_loss}}</td><td><td>{{pnl_marked_to_theo}}</td>
              </tr>
            </table>
          </div-->
        </div>
      </div>
    </div>
  </body>
</html>
