body {
}

div {
  font-family: Monospace;
  padding: 5px;
}

table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

.mainapp{
    height: 100%;
    width: 100%;
}

.set_trader{
    height: 10%;
    width: 20%;
}

.trader{
  padding: 10px;
  background: #eeeeff;
  border: 2px solid grey;
  text-align: center;
  font-size: 18pt;
}


.container{
    height: 100%;
    width: 100%;
}

.ob_container{
    height: 100%;
    width: 50%;
    display: flex;
}

.orders_container{
    height: 100%;
    width: 50%;
    display: flex;
}

.trade_input {
  border: 2px solid grey;
}

.trade_input_flex {
  width: 100%;
  height: 30%;
}

.orderbook {
  width: 100%;
  height: 70%;
  border: 2px solid grey;
  margin: 2px;
  text-align: center
}

.orders{
  border: 2px solid grey;
  text-align: center
}

.trades {
  border: 2px solid grey;
  text-align: center
}


