body {
}

div {
  font-family: Monospace;
  padding: 5px;
}

table thead {
  display: block;
}

table tbody {
  display: block;
}

table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

.mainapp{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.set_trader{
  height: 10%;
  width: 20%;
}

.trader{
  padding: 10px;
  background: #eeeeff;
  border: 2px solid grey;
  text-align: center;
  font-size: 18pt;
  height: 5%;
}

.chart{
  height: 30%;
}

.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.ob_container{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.trade_input {
}

.orderbook {
  text-align: center
}

.orders_trades_container{
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction:row;
  flex-grow: 6;
}

.orders{
  text-align: center;
  height: 100%;
}

.trades {
  text-align: center;
  height: 100%;
}
