table.orderbookTable, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

.tableRowBuy{
    background-color: lightgreen;
    padding: 0px;
}

.table-row-sell{
    background-color: salmon;
}

.table td {
    padding: 5px;
}

.buyButton{
    background: #44ee44;
    border-color: #44ff44;
    font-weight: bold;
    margin: 5px;
    margin-right: 10px;
}

.priceInput{
    font-weight: bold;
    margin: 2px;
}

.volumeInput{
    font-weight: bold;
    margin: 2px;
}

.sellButton{
    background: #ee4444;
    border-color: #ff4444;
    font-weight: bold;
    margin: 5px;
    margin-right: 10px;
}

.hitButton{
    color: rgba(1,1,1,.5)
}

.cancelButton{
    background: #eeee44;
    border-color: #ffff44;
    border-radius: 40%;
    font-weight: bold;
}

.priceHeader {
    background: #dddddd;
    font-weight: bold;
}

.bidHeader {
    background: #44ee44;
    font-weight: bold;
}

.askHeader {
    background: #ee4444;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.quoteInput{
    border-width: 1px;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.smallMargins{
    padding: 1px;
    margin: 1px;
}

/*
.tradeInputAndOrderbook{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tradeListAndPnL{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.orderbookGraph{
    width: 50%;
    height: 50%;
    overflow: hidden;
}

.traderInputs{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

.traderInterface{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tradeInput{
    display: flex;
    flex-direction: column;
    width: 50%
}
.tradeInputButtons{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
*/
